lyricsgenius
spotipy
transformers
lyricsgenius 
transformers 
scikit-learn 
gtts 
pydub 
librosa
faiss-cpu
tqdm
torch
tqdm 
mlflow
torch  --index-url https://download.pytorch.org/whl/cu118
uvicorn
nest_asyncio
chromadb
langchain 
langchain-community
sentence-transformers
peft
langchain-chroma>=0.1.2
streamlit
python-dotenv
pre-commit